[submodule "externals/vows"]
	path = externals/vows
	url = git://github.com/cloudhead/vows.git
[submodule "externals/eyes"]
	path = externals/eyes
	url = git://github.com/cloudhead/eyes.js.git
[submodule "externals/coffee-script"]
	path = externals/coffee-script
	url = git://github.com/jashkenas/coffee-script.git
[submodule "externals/node-jscoverage"]
	path = externals/node-jscoverage
	url = git://github.com/visionmedia/node-jscoverage.git
[submodule "wiki"]
	path = wiki
	url = git@github.com:axnsoftware/enumjs.wiki.git
[submodule "externals/docco"]
	path = externals/docco
	url = ssh://git@github.com/axnsoftware/docco.git
